{% extends 'base.html.twig' %}

{% block title %}Invitation à la réunion{% endblock %}

{% block body %}
<div class="container">
  
   
<img src="{{ asset('images/image.png') }}" alt="Logo" class="logo">
 

<h2>inscription presque terminée</h2>


<p>L'équipe de Date Parfaite Vous remercie d'être inscrit,
 veuillez vérifier votre email pour confirmer votre inscription.</p>
<p>Un email de confirmation a été envoyé à l'adresse : <strong>{{ app.user.email }}</strong>.</p>
<p>Si vous n'avez pas reçu l'email de confirmation, veuillez vérifier votre dossier spam ou contacter l'assistance.</p>


{% endblock %}
