{% extends 'base.html.twig' %}

{% block title %}Invitation à la réunion{% endblock %}

{% block body %}
<div class="container-merciReponse">


<img src="{{ asset('images/DateParfaite.png') }}" alt="Logo" class="logo-merciReponse">


<h2>Merci de votre réponse</h2>


<p>L'équipe de Date Parfaite et l'organisateur de la réunion vous remercie d'avoir répondu à cette invitation.</p>

<p>Vous seriez informé(e) des prochaines étapes de la réunion par email.</p>
<p>Pour toute question, veuillez contacter l'organisateur de la réunion.</p>
</div>
{% endblock %}
