
.container-final {
    max-width: 720px;
    width: 100%;
    background: #fff;
    padding: 1rem 2rem;
    border-radius: 10px;
    box-shadow: 0 6px 15px rgba(25, 25, 25, 0.5);

    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    z-index: 1;
}
.logo-final {
    width: 400px;
    height: auto;
    margin-bottom: 1.5rem;
}
.btn-choixFinal {
    background-color:  #243a77;
    margin-left: 250px;
    color: white;
    padding: 6px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
}

.btn-choixFinal:hover {
    background-color: #1e2a78;
}


.creneau-option input[type="checkbox"] {
    margin-right: 25vh;
    margin-left: 0;
    width: 20px;
    height: 20px;
    cursor: pointer;
}
/* .choix-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
} */