
.container-login {
       max-width: 720px;
    width: 100%;
    background: #fff;
    padding: 2rem 3rem;
    border-radius: 10px;
    box-shadow: 0 6px 15px rgba(25, 25, 25, 0.5);

    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    z-index: 1;
}

.logo-login {
     width: 400px;
    height: auto;
    margin-bottom: 1.5rem;
}


h1 {
    text-align: center;
    margin-bottom: 30px;
    font-size: 24px;
    color: #333;
}

.form-label {
    font-weight: bold;
    margin-bottom: 5px;
    display: block;
    color: #555;
}

input.form-control {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input.form-control:focus {
    border-color: #007bff;
    outline: none;
}

.checkbox label {
    font-size: 14px;
    color: #555;
}

.btn_singIn {
    width: 100%;
    background-color: #2a9d8f;
    color: white;
    border: none;
    padding: 12px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

.btn_singIn:hover {
    background-color: #21867a;
}

.mt-3 {
    margin-top: 20px;
    text-align: center;
}

.mt-3 a {
    color: #789dc5;
    text-decoration: none;
}

.mt-3 a:hover {
    text-decoration: underline;
}

.alert-danger {
    color: #af5552;
    background-color: #f2dede;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 20px;
}

p {
    font-size: 14px;
    color: #555;
    text-align: center;
}
