{% extends 'base.html.twig' %}

{% block title %}Planification - Étape 1
{% endblock %}

{% block body %}
	<h1>J'indique les infos de ma réunion</h1>

	<div>1ère étape : Je commence par donner quelques informations sur ma réunion.
				A l'exception du mot de passe qui vous permettra de choisir une date, les autres informations 
				seront transmises aux partenaires.</div>

	<form method="post" action="">
		<div class="mb-3">
			<label for="Titre" class="form-label">Titre</label>
			<input type="text" class="form-control" id="identite" name="identite" required>
		</div>
		<div class="mb-3">
			<label for="Description" class="form-label">Objet de la réunion</label>
			<input type="email" class="form-control" id="mail" name="mail" required>
		</div>
		<div class="mb-3">
			<label for="Lieu" class="form-label">Lieu de la réunion</label>
			<input type="text" class="form-control" id="objet" name="objet" required>
		</div>
		<div class="mb-3">
			<label for="dateHeure" class="form-label">Date et Heure</label>
			<input type="datetime-local" class="form-control" id="dateHeure" name="dateHeure" required>
		</div>
		
		<hr>

	
	</form>
{% endblock %}













