{% extends 'base.html.twig' %}

{% block title %}Planification - Étape 1
{% endblock %}

{% block body %}
	<h1>J'indique les infos de ma réunion</h1>

	<div>1ère étape : Je commence par donner quelques informations sur ma réunion.
				A l'exception du mot de passe qui vous permettra de choisir une date, les autres informations 
				seront transmises aux partenaires.</div>

	<form method="post" action="">
		<div class="mb-3">
			<label for="identite" class="form-label">Identité</label>
			<input type="text" class="form-control" id="identite" name="identite" required>
		</div>
		<div class="mb-3">
			<label for="mail" class="form-label">Votre courriel</label>
			<input type="email" class="form-control" id="mail" name="mail" required>
		</div>
		<div class="mb-3">
			<label for="objet" class="form-label">Objet de la réunion</label>
			<input type="text" class="form-control" id="objet" name="objet" required>
		</div>
		<div class="mb-3">
			<label for="lieu" class="form-label">Lieu de la réunion</label>
			<input type="text" class="form-control" id="lieu" name="lieu" required>
		</div>
		
		<hr>

		<h4>Ajoutez des créneaux :</h4>
		<div id="alerte" style="display: none; color: red;"></div>
		<label>Date</label>
		<input type="date" id="input1" class="form-control">
		<label>Heure de début</label>
		<input type="time" id="input2" class="form-control">
		<label>Heure de fin</label>
		<input type="time" id="input3" class="form-control">
		<input type="button" class="btn btn-secondary mt-2" value="Ajouter créneau" onclick="ajout_creno()">

		<label class="mt-3">Créneaux choisis :</label>
		<select id="choix" class="form-control" multiple></select>

		<input type="hidden" name="creneaux_json" id="creneaux_json">

		<br>
		<button type="submit" class="btn btn-primary">Continuer</button>
	</form>
{% endblock %}

{% block javascripts %}
	<script src="{{ asset('js/creneaux.js') }}"></script>
{% endblock %}











